MONGO_ROOT_USERNAME=product_admin
MONGO_ROOT_PASSWORD=CHANGE_ME
MYSQL_ROOT_PASSWORD=CHANGE_ME
POSTGRES_ORDER_USERNAME=order_app
POSTGRES_ORDER_PASSWORD=CHANGE_ME
POSTGRES_KEYCLOAK_USERNAME=keycloak
POSTGRES_KEYCLOAK_PASSWORD=CHANGE_ME
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=CHANGE_ME
RABBITMQ_USER=ecommerce_app
RABBITMQ_PASSWORD=CHANGE_ME
GRAFANA_ADMIN_PASSWORD=CHANGE_ME
